/* RESET & GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
}

/* 
  COLORI UTILI
  color link: #4fbeca
  backgrond color box: #0f0e17
  color h1: #e53170

  FONT: Fredoka
*/

/* UTILITY */

.float-left{
  float: left;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* HEADER */

header p{
  font-weight:bold;
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
  color: #e53170;
}

/* MAIN */

.container{
  background-color: antiquewhite;
  width: 65%;
  margin: 60px auto;
  text-align: center;
  font-size: 18px;
}

.cards{
  margin-top: 50px;
  padding: 40px;
}

.card-box{
  background-color: #0f0e17;
  width: calc(100% / 4);
  height: 100px;
  margin-right: 30px;
  margin-bottom: 50px;
}