/* RESET & GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
}

img{
  max-height: 100%;
}

/* 
  COLORI UTILI
  color link: #4fbeca
  backgrond color box: #0f0e17
  color h1: #e53170

  FONT: Fredoka
*/

/* UTILITY */

.float-left{
  float: left;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* HEADER */

header p{
  font-weight:bold;
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
  color: #e53170;
}

/* MAIN */

.container{
  /* background-color: antiquewhite; */
  width: 65%;
  min-width: 450px;
  margin: 60px auto;
  text-align: center;
  font-size: 18px;

}

.cards{
  margin-top: 50px;
  padding: 25px;
}

.card-box{
  background-color: #0f0e17;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.70);

  /* calcolo la width delle cardbox */
  --widthA: calc(100% - 90px);
  width: calc(var(--widthA) / 3);

  min-width: 350px;

  margin: 0 15px 50px 15px;

  height: 100px;
}

.card-image{
  width: 100px;
}

.card-image img{
  width: 100%;
}

.card-text{
  padding: 10px 15px;
}

.card-text span{
  color: white;
  display: block;
  text-align: left;
  padding-bottom: 4px;
}

.card-text .name{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.card-text .mail a{
  color: #2fbdec;
  text-decoration: none;
}

.card-text .mail a:visited{
  color: #2fbdec;
}

